

#skills {
  width: fit-content; 
  
  &.not-touched {
      animation: quick-swipe 5s infinite alternate ease-in;
  }

  li {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;

    img {
      height: 110px;
    }
    
    p {
      text-transform: capitalize;
      color: var(--tertiary-color);
      font-weight: bold;
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

@keyframes quick-swipe {
  0%, 90% {
    transform: translateX(0);

 }
 
 100% {
  transform: translateX(-5%);
 }
}

