#about-me {
  position: relative;
  display: flex;
  gap: 5rem;
  justify-content: center;
  max-width: var(--max-screen-width);
  margin: 0 auto;
  scroll-margin-top: 12rem;

  article {
    max-width: 24.6rem;
    h2 {
      margin-bottom: 1rem;
    }

    p {
      color: color-mix(in srgb, var(--text-color), transparent 25%);
      line-height: 1.75;
      font-size: 1.125rem;
    }
  }

  #musical-note, #light-bulb {
    position: absolute;
    z-index: -1;
  }

  #musical-note {
    right: 36%;
    top: -10%;
  }

  #light-bulb {
    right: 0;
    top: 80%;
  }
}

