#contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 72rem;
  scroll-margin-top: 16rem;
  margin: 0 auto 20rem;

  form {
    width: 37.5rem;

    fieldset {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 0.75rem;

      div {
        width: 100%;
      }
    }

    label {
      font-weight: bold;
    }

    textarea,
    input {
      color: var(--text-color);
      font-family: inherit;
      font-size: 1rem;
      background-color: color-mix(in srgb, var(--secondary-color), transparent 50%);
      border-radius: 1rem;

      padding: 0.5rem 1rem;
      margin-top: 0.5rem;
      width: 100%;

      &::placeholder {
        font-weight: bold;
      }

      &:focus-within {
        outline: none;
      }

      &:is(.invalid, .valid) {
        outline: 2px solid transparent;
      }

      &.invalid {
        outline-color: color-mix(in srgb, var(--error-color), transparent 60%);
      }

      &.valid {
        outline-color: color-mix(in srgb, var(--success-color), transparent 80%);
      }
    }

    textarea {
      resize: none;
      height: 17.5rem;
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        transition-duration: var(--default-transition-time);
        width: 1.25rem;
      }
    }

    button:hover {
      img {
        rotate: -15deg;
        transform: translate(0.5rem, 0);
      }
    }
  }

  #keyboard,
  #mail {
    position: absolute;
    z-index: -1;
  }

  #keyboard {
    bottom: -21%;
  }

  #mail {
    right: 2%;
    top: -12%;
  }
}
