#projects {
  width: fit-content;
  > li {
    width: clamp(420px, 80vw ,560px);
  }

  img {
    width: 100%;
    border-radius: 1rem;
  }

  ul {
    color: color-mix(in srgb, var(--tertiary-color), transparent 25%);

    display: flex;
    justify-content: center;
    gap: 0.75rem;

    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  menu {
    text-align: center;
    width: 100%;

    button:first-child {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  #projects {
    ul {
      // display: none;
      font-size: 0.95rem;
    }
  }
  
}
