#footer {
  border-top: 1px solid color-mix(in srgb, var(--text-color), transparent 90%);
  padding: 4rem 0.5rem;

  ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    li > img {
      width: 1.5rem;
    }

    &:first-child {
      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &:last-of-type {
      margin: 2rem 0;
      li {
        height: 3rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--secondary-color);
      }

      li:hover {
        background-color: var(--secondary-color);
      }
    }
  }

  aside {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    gap: 1rem;
    color: color-mix(in srgb, var(--quaternary-color), transparent 10%);
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  #footer {
    aside {
      font-size: 0.9rem;
    }
  }
}
