#home {
  position: relative;
  max-width: var(--max-screen-width);
  margin: 0 auto;
  
  article {
    align-items: center;
    justify-content: center;
    display: flex;
    
     & > img:nth-of-type(1) {
      margin-top: 5rem;
      margin-right: 1rem;
    }

    .buttons {
      margin-top: 3rem;
      display: flex;
      gap: 1.5rem;

      button:nth-child(2) {
        display: flex;
        gap: 10px;        
      }
    }

    & > img:nth-of-type(2) {
      translate: 10% 20%;
    }
  }

  #down-arrow {
    z-index: -1;
    height: 30rem;
    position: absolute;
    translate: 0 -50%;
    left: var(--center-line);
  }
}
