#home {
  position: relative;
  max-width: var(--max-screen-width);
  display: flex;
  justify-content: center;
  //! Arrumar o tamanho das coisas não fixas (vh, lvh, svh) para não ter shapeshifting no mobile
  height: 90vh;
  padding: 1rem 0.5rem;
  margin: 10vh auto 0;

  article {
    display: flex;
    align-items: start;
    justify-content: center;

    > div {
      display: flex;
      padding-top: 3rem;

      > img {
        translate: 0 2rem;
        margin-right: 1rem;
      }

      menu.buttons {
        margin-top: 3rem;
        display: flex;
        gap: 1.5rem;

        button {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  > img {
    width: 100%;
    height: fit-content;
  }

  #down-arrow {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);

    width: clamp(350px,calc(70vh - 150px)  ,500px);
  }
}

@media screen and (max-width: 768px) {
  #home {
    padding: 1rem 0rem;
    margin-top: calc(10vh + var(--header-mobile-height));

    article {
      padding: 0 0.5rem;

      > div {
        justify-content: center;

        menu.buttons {
          justify-content: center;
        }

        > img {
          display: none;
        }
      }
    }

    > img {
      display: none;
    }
  }
}
