.button {
  background-color: var(--primary-color);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
}

.secondary {
  background-color: var(--secondary-color);
}