#root {
  background-image: url("./assets/images/background-line.png");
  background-position: var(--center-line);
  background-repeat: repeat-y;
}

h1 {
  font-size: 6rem;
  line-height: 1;
}

.accent-text {
  color: var(--primary-color);
}
