html {
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}

h1 {
  font-size: clamp(3.5rem, calc(2rem + 5vw) ,6rem);
  line-height: 1;
}

h2 {
  font-size: clamp(2.5rem, calc(1.75rem + 5vw) ,4rem);
  line-height: 1;
}

a {
  color: var(--text-color);
}

.accent-text {
  color: var(--primary-color);
}
