@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #fcfcfc;
  --primary-color: #f0ac1d;
  --secondary-color: #474747;
  --tertiary-color: #e5b245;
  --quatenary-color: #D4D4D4;
  --background-color: #2a2a2a;

  color: var(--text-color);
  background-color: var(--background-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
