@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #fcfcfc;
  --primary-color: #f0ac1d;
  --secondary-color: #474747;
  --tertiary-color: #e5b245;
  --quaternary-color: #D4D4D4;
  --background-color: #2a2a2a;
  --error-color:#ce0d0d;
  --success-color:#84ce0d;
  --max-screen-width: 72rem;
  --center-line: 30%;
  --default-transition-time: 0.3s;

  color: var(--text-color);
  background-color: var(--background-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

body {
  min-width: 320px;
@media (prefers-reduced-motion: reduce) {
  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
