.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  border-bottom: 1px solid color-mix(in srgb, var(--quaternary-color), transparent 90%);

  img {
    height: 6rem;
  }

  h2 {
    font-weight: 400;
  }

  ul {
    display: flex;
    gap: 3rem;

    li {
      margin-left: 20px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;

      a {
        color: var(--text-color);
        transition: var(--default-transition-time);
        &:hover {
          color: var(--tertiary-color);
        }
      }
    }
  }
}
