#contact-modal {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  animation: showing-up 4s ease-in-out;
  max-width: fit-content;
  border-radius: 0.75rem;
  margin: -5rem auto 0;
  padding: 0.5rem 1rem;

  p {
    font-size: 0.9rem;
  }

  img {
   height: 1.2rem;
  }
}

#modal-root {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: fit-content;
}

@keyframes showing-up {
  0%, 100% {
    margin-top: -5rem;
    opacity: 0;
  }

  10%, 90% {
    opacity: 0.5;
  }

  20%, 80% {
    margin-top: 1rem;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  @keyframes showing-up {
    20%, 80% {
      margin-top: calc(1rem + var(--header-mobile-height));
      opacity: 1;
    }
  }
}